
.add-hidden-border{
  border: 1px solid white
}
.list-group-upgrade-lg{
  width: 60%;
  float: left;
}

.row-upgraded-md{
  padding-left: 20px;
}


.recommended{
  width: 40%;
  float: left;
}

.latest-meeting{
  position: relative;
  top: 15px;
  right: 30px;
  width: 38.3%;
  float: right;
}